// Our variables

$spacing-unit:     15%;
// Width of the content area
$content-width:    70%;
$base-font-size:   12;
$small-font-size:  $base-font-size * 0.875;
$base-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-line-height: 1.5;

$on-palm:          600px;
$on-laptop:        800px;
